.one-user .user {
    width: 60%;
    height: 600px;
    margin-bottom: 5em;
    width: 60%;
    height: 600px;
    position: relative;
    align-self: center;
    margin-bottom: 10em;
    text-align: center;
    margin-left: 15em;
}